# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# VS/Rider solution files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity crash
sysinfo.txt

# Builds
[Bb]uild/
[Bb]uilds/
Build/
Builds/
Build_PC/
Build_WebGL/
*.exe
*.wasm
*.data
*.symbols.json
*.apk
*.aab
*.unitypackage
*.app

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
Desktop.ini
